:root {
  --bright-blue: rgba(115, 193, 239, 1);
  --bright-blue-4-opacity: rgba(115, 193, 239, 0.04);
  --bright-blue-16-opacity: rgba(115, 193, 239, 0.16);
  --bright-blue-24-opacity: rgba(115, 193, 239, 0.24);
  --light-blue: rgba(164, 215, 245, 1);
  --dark-purple: rgba(12, 1, 21, 1);
  --bright-purple: rgba(67, 38, 91, 1);
  --bright-purple-16-opacity: rgba(67, 38, 91, 0.16);
  --accent-purple-16-opacity: rgba(98, 189, 218, 0.16);
  --light-purple: rgb(247, 247, 247, 1);
  --bright-green: rgba(23, 255, 144, 1);
  --white: rgba(255, 255, 255, 1);
  --white-24-opacity: rgba(255, 255, 255, 0.24);
  --white-8-opacity: rgba(255, 255, 255, 0.08);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: auto minmax(1025px, 1440px) auto;
  background: var(--dark-purple);
  @media (width < 1024px) {
    grid-template-columns: 0 1fr;
  }
}

.wrapper {
  grid-column: 2/3;
  font-family: Roboto Slab;
  padding: 2rem;
  @media (width < 420px) {
    padding: 1rem;
  }
}

h1,
h3 {
  font-family: Pacifico;
  font-weight: 400;
  font-size: clamp(1.25rem, 5vw + 0.5rem, 5rem);
}

h1 {
  color: var(--white);
}

/* -----TITLE----- */

.title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
  @media (width < 700px) {
    & img {
      width: 5rem;
      aspect-ratio: 1;
    }
  }
  @media (width < 500px) {
    & img {
      width: 2.5rem;
      gap: 0.5rem;
    }
  }
}

/* -----INFO SECTION----- */

.info {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  @media (width < 700px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    margin-block-end: 1rem;
  }
}

/* -----DASHBOARD----- */

.dashboard {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--white);
  padding-block: 1.5rem;

  @media (width < 920px) {
    font-size: 1.25rem;
  }

  @media (width < 420px) {
    font-size: 1rem;
  }

  &-element {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background: var(--bright-blue-4-opacity);
    border: 0.125rem solid var(--bright-blue-16-opacity);
    border-radius: 1rem;
    padding: 1rem 2rem;

    @media (width < 920px) {
      padding: 0.5rem 1rem;
    }

    @media (width < 420px) {
      padding: 0.2rem 1rem;
      border-radius: 0.5rem;
    }

    span:first-of-type {
      font-size: 2rem;

      @media (width < 920px) {
        font-size: 1.5rem;
      }

      @media (width < 420px) {
        font-size: 1.1rem;
      }
    }

    &:last-of-type {
      cursor: pointer;

      &:hover {
        color: var(--bright-blue);
      }
    }
  }
}

/* -----RADIO DIFFICULTY BUTTONS----- */

#form {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.5rem;
  background: var(--bright-blue-4-opacity);
  border: 0.125rem solid var(--bright-blue-16-opacity);
  border-radius: 1.5rem;
  padding: 0.5rem;
  align-items: center;

  @media (width < 800px) {
    font-size: 1.25rem;
  }

  @media (width < 420px) {
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.75rem;
  }

  label {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 2rem;
    border: 0.25rem solid transparent;
    color: var(--white-24-opacity);

    @media (width < 920px) {
      padding: 0.5rem 1.5rem;
    }

    @media (width < 420px) {
      padding: 0.1rem 0.5rem;
    }
  }

  .checked {
    border: 0.25rem solid var(--light-blue);
    background: var(--bright-blue);
    border-radius: 1rem;
    font-weight: 700;
    color: var(--white);
    @media (width < 420px) {
      border-radius: 0.5rem;
    }
  }

  input[type="radio"] {
    display: none;
  }
}

/* -----GAME BOARD----- */

.game-board {
  /* grid idea from kevin powell https://codepen.io/kevinpowell/pen/abMLmeO?editors=1100*/
  &.easy-game {
    --column-count: 4;
  }

  &.normal-game {
    --column-count: 6;
  }

  &.hard-game {
    --column-count: 9;
  }

  --gap: 1.5rem;

  display: grid;
  gap: var(--gap);

  grid-template-columns: repeat(var(--column-count), 1fr);

  justify-content: center;

  @media (width < 1024px) {
    --gap: 0.5rem;
  }

  @media (width < 976px) {
    &.hard-game {
      --column-count: 6;
    }
    @media (width < 500px) {
      --gap: 0.1rem;
    }
    @media (width < 500px) {
      &.easy-game {
        --column-count: 3;
      }
    }
  }
}

.icon {
  color: var(--dark-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  aspect-ratio: 1;
}

.card {
  position: absolute;
  inset: 0;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  backface-visibility: hidden;
  background: linear-gradient(225deg, var(--accent-purple-16-opacity) 0%, var(--bright-purple-16-opacity) 100%),
              var(--bright-purple);
  border: 0.25rem solid var(--white-8-opacity);
}

.back {
  transform: rotateY(180deg);
  background: var(--light-purple);
}

.easy .icon {
  font-size: 10rem;
}

.normal .icon {
  font-size: 7rem;
}

.hard .icon {
  font-size: 5rem;
}

.front-open,
.front-correct {
  transform: rotateY(-180deg);
}

.back-open {
  transform: rotateX(0deg);
}

.back-correct {
  background: var(--bright-green);
  transform: rotateX(0deg);
}

@media (width < 920px) {
  .easy .icon {
    font-size: 8rem;
  }

  .normal .icon {
    font-size: 5rem;
  }
}

@media (width < 700px) {
  .easy .icon {
    font-size: 6rem;
  }
  .normal .icon {
    font-size: 4rem;
  }
  .hard .icon {
    font-size: 4rem;
  }
}

@media (width < 500px) {
  .normal .icon {
    font-size: 3rem;
  }
  .hard .icon {
    font-size: 3rem;
  }
}

@media (width < 350px) {
  .easy .icon {
    font-size: 4rem;
  }
  .normal .icon {
    font-size: 2rem;
  }
  .hard .icon {
    font-size: 2rem;
  }
}

/* -----MODAL----- */

.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  padding-block-start: clamp(5rem, 20vh, 20rem);
  backdrop-filter: blur(1rem);
  margin-inline: 1rem;
}

.modal-inner {
  background: var(--light-purple);
  padding: 3rem 8rem;
  border-radius: 1.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: pretty;
  font-size: 1.5rem;

  @media (width < 800px) {
    font-size: 1.25rem;
    padding: 2rem 6rem;
  }

  @media (width < 650px) {
    font-size: 1rem;
    padding: 1.5rem 4rem;
  }

  @media (width < 500px) {
    font-size: 0.75rem;
    padding: 1rem 2.5rem;
  }

  h3 {
    color: var(--bright-blue);
  }

  p:nth-of-type(2) {
    span {
      font-weight: 700;
    }
  }

  p:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: fit-content;
    background-color: var(--light-blue);
    box-shadow: 0 0.25rem 0.5rem 0 var(--bright-blue-24-opacity);
    border: 0.25rem solid var(--bright-blue);
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: var(--white);
    margin-top: 3rem;

    @media (width < 700px) {
      padding: 0.75rem 1.5rem;
      margin-top: 1.5rem;
    }

    @media (width < 500px) {
      padding: 0.5rem 1rem;
      margin-top: 1rem;
    }

    span {
      font-size: 2rem;

      @media (width < 700px) {
        font-size: 1.5rem;
      }
    }
  }
}

.hide {
  display: none;
}
