.container {
  width: 40rem;
  margin: auto;
  margin-top: 9rem;
  background-color: rgb(240, 248, 255);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.button {
  margin: auto;
  width: 13rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.button {
  background-color: var(--main-color);
  color: #fff;
  transition: background-color 1s;
}

.button:hover {
  background-color: #004369;
}

.container h2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  border: none;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
}

.container .index {
  margin: auto;
  font-size: 0.8rem;
}

.container .correct {
  background: white; 
  border-color: var(--correct-answer);
}

.container .wrong {
  background: white; 
  border-color: var(--wrong-answer);
}

.container .correct::before {
  content: '✓';
  color: var(--correct-answer);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.container .wrong::before {
  content: '✗';
  color: var(--wrong-answer);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.container .correct:hover {
  background: var(--correct-answer);
  color: white;
}

.container .wrong:hover {
  background: var(--wrong-answer);
  color: white;
}

.container .correct:hover::before {
  color: white;
}

.container .wrong:hover::before {
  color: white;
}

.refresh {
  margin: auto;
  width: 13rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.refresh {
  background-color: var(--main-color);
  color: #fff;
  transition: background-color 1s;
}

.refresh:hover {
  background-color: #004369;
}


