/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*General Styling*/

/* canvas {
  border: 1px solid black;
} */

/* NAVIGATION BAR */
#file-nav {
  transition-duration: 500ms;
}

.navigation {
  overflow: hidden;
  background: #c3c3c3;
}

.navigation li {

  display: block;
  float: left;
  padding: 1rem;
  text-decoration: none;
  transition-duration: 300ms;
}

.navigation li a {
  text-decoration: none;
}

.navigation li a:hover {
  color: #fff
}

.navigation li:hover {
  text-decoration: none;
  background:rgb(66, 111, 226);
  cursor: pointer;
}

.dropdown-menu-item:focus-within a {
  outline: none;
}

.dropdown-menu {
  background: rgb(66, 111, 226);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 500ms ease-in;
  margin-block-start: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
.dropdown-menu:hover,
.dropdown-menu:focus{
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-menu-item {
  clear: both;
  width: 100%;
}

/* NAVIGATION BAR */


/* TOOLBAR */
.toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #c3c3c3;
}
/* TOOLBAR */


/* TOOLS */
/* <!--  https://www.iconfinder.com/icons/1021031/pen_icon--> */

.tool-wrapper {
  max-width: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: .5rem;
}

.tool-wrapper > div {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.tool-wrapper img {
  display: block;
  height: auto;
  max-width: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.tool-wrapper div:hover{
  -webkit-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  -moz-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  box-shadow: inset 0px 10px 9px 2px rgb(255, 255, 255);
}

.tools-header {
  text-align: center;
}

.tool-icon.selected {
  -webkit-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  -moz-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  box-shadow: inset 0px 10px 9px 2px rgb(255, 255, 255);
}


/* TOOLS */


/* BRUSHES */

.brushes-wrapper {
  max-width: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: .5rem;
}

.brushes-wrapper > div {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.brushes-wrapper img {
  display: block;
  height: auto;
  max-width: 1.5rem;
  width: 100%;
  cursor: pointer;
}

.brushes-wrapper div:hover {
  -webkit-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  -moz-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  box-shadow: inset 0px 10px 9px 2px rgb(255, 255, 255);
}

.brushes-header {
  text-align: center;
}

/* BRUSHES */


/* SHAPES */

.shapes-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(1.5rem, auto);
  /* grid-auto-flow: dense; */
  gap: .5rem;
  /* max-height: calc(2 * (auto)); */
  max-height: 3.5rem;
  overflow: hidden;
}

.shapes-wrapper img {
 height: 1.5rem;
  width: 100%;
  max-width: 1.5rem;
  cursor: pointer;
}

.shapes-wrapper div:hover {
  -webkit-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  -moz-box-shadow: inset 0px 1px 1px 1px rgb(255, 255, 255);
  box-shadow: inset 0px 10px 9px 2px rgb(255, 255, 255);
}

.shapes-header {
  text-align: center;
}
/* SHAPES */



/* COLORS */

.colors-palette-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(1.5rem, auto);
  overflow: hidden;
  max-height: 3.5rem;
  gap: .5rem;
}

.colors-palette-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 1.5rem;
  cursor: pointer;
}

.colors-palette-wrapper img:hover {
 border: 2px solid #c3c3c3;
}

.colors-header {
  text-align: center;
}

/* COLORS */

/*CANVAS*/
.canvas-container {
  height: 100vh;
  background: #a1c8f7;
}

.canvas-container canvas {
  height: 100%;
  background-color: #999;
}

/*CANVAS*/
