@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #87CEEB;
}

h1{
  padding: 0.25rem 0 ;
  color: white;
  font-size: 1.75rem;
  background-color: rgb(104, 157, 236);
  text-align: center;
}

.container{
  display: flex;
  gap: 2.2rem;
  padding: 2rem;
}
.weather-input{
  width: 34.375rem; 
}
.weather-input input{
  border-radius: 5px;
  width: 100%;
  height: 2.8rem;
  outline: none;
  margin: 0.625rem 0  1.25rem 0 ; 
  padding: 0 1.25rem; 
  font-size: 1.07rem; 
  border: 0.0625rem solid #ccc; 
}

.weather-input .separator{
  height: 0.0625rem; 
  width: 100%;
  background: #bbb;
  margin: 1.5625rem 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before{
  content: "or";
  color: #6c757D;
  font-size: 1.18rem;
  margin-top: -0.25rem; 
  padding: 0 0.9375rem; 
  background: #87CEEB;
}

.weather-input button{
  width: 100%;
  padding: 0.625rem 0 ; 
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem ; 
  border-radius: 0.25rem;
  color: #fff;
  background: #5372F0;
}

.weather-input .location-btn{
  background: #6c757d;
}

/* Vreamea ziua curenta */


.weather-data{
  width: 100%;
}

.current-weather{
  display: flex;
  justify-content: space-between;
  border-radius: 0.3125rem; 
   
  color: #fff;
  background: #5372F0;
}

.current-weather h2{
  font-size: 1.7rem; 
}

.weather-data h4{
  margin-top: 0.75rem; 
  font-size: 1rem; 
  font-weight: 500; 
}
.current-weather .icon{
  max-width: 5.5rem; 
  margin-top: -0.9375rem; 
}


.current-weather .icon h4{
  margin-top: -0.625rem; 
  text-transform: capitalize;
}


/* Cardurile Prognoza */


.days-forecast h2 {
  font-size: 1.5rem; 
  margin: 1.25rem 0; 
}
.weather-cards{
  display: flex;
  gap: 1.25rem; 
}
.weather-cards .card{
  border-radius: 0.3125rem; 
  padding: 1.125rem 1rem; 
  list-style: none;
  color: #fff;
  background: #6c757d;
  width: calc(100% / 5);
}

.weather-cards .card img {
  max-width: 4.375rem; 
  margin: 0.3125rem 0 -0.75rem 0 ; 
}


/* Media Querys */


@media (max-width: 87.5rem) { 
  .weather-data .current-weather{
    padding: 1.25rem; 
  }
  .weather-cards{
    flex-wrap: wrap;
  }
  .weather-cards .card{
    width: calc(100% / 4 - 0.9375rem); 
  }
}


@media (max-width: 75rem){ 
  .weather-cards .card {
    width: calc(100% / 3 - 0.9375rem ); 
  }
}

@media (max-width: 59.375rem) { 
  .weather-input{
    width: 28.125rem; 
  }
  .weather-cards .card {
    width: calc(100% / 2 - 0.625rem ); 
  }
}
@media (max-width: 46.875rem) { 
  .container {
    flex-wrap: wrap;
    padding: 0.9375rem; 
  }

  .weather-input{
    width: 100%;
  }
  
}
